.home {

  .horizontal-button-container {
    .button {
      margin-top: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
  }

  .game-status {
    margin-bottom: 1rem;
    .notification {
      padding: 0.5rem;
    }
    .title {
      margin-bottom: 2rem;
    }

    .subtitle {
      margin-left: 2px;
    }
  }



}